body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(https://images4.alphacoders.com/132/1329756.png)
}

header {
  background-color: #2196F3;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 200px; 
}

.auth-buttons {
  margin-right: 20px;
}

#login-button,
#register-button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 20px 40px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: inline;
  margin: 20px;
}

ul li a {
  text-decoration: none;
  color: #4CAF50;
  font-weight: bold;
}

.navigation {
  display: flex;
  justify-content: center;
  width: 100%;
}

h1 {
text-align: center;
}

p {
  text-align: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.textbox1 {
  width: 150px;
  padding: 0px;
  border: 3px solid #2196F3;
  background-color: transparent;
}

.textbox1 input[type="text"] {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  font-weight: bold
}

.youtube {
  display: block;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  color: #0b3eb6; 
}

.contact-form {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
